@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

.logo{
	max-width: 600px;
	height: 52px;
	left: 10px;
	top: 14px;

	font-family: 'Fira Code', monospace;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 52px;
	color: #00B907;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
	padding: 15px;
	width: 100%;
	height: 100%;
	margin: 0;
	background: url(img/bg.jpeg) repeat;
}

#container{
	display: flex;
	align-items: center;
	width: 1238px;
	margin: 0 auto;
}

#topo-menu{
	margin-top: 10px;
	background: #C3C3C3;
}

#topo-menu ul {
    max-width: 1238px;
    list-style: none;
    padding: 0;
}

#topo-menu ul li {
    display: inline-block;
}

#topo-menu ul li a {
    color: #7C7C7C;
	font-size: 0.9em;
    padding: 0.5em 1.5em;
    display: inline-block;
	line-height: 2.1em;
    transition: background .4s;

	border-right: 1px solid #7C7C7C;

	text-decoration: none;
	font-family: 'Fira Code', monospace;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

#topo-menu ul li a .icone{
    width: 17px;
 	height: 17px;
}

#topo-menu ul li a:hover {
    color: black;
    background-color: #D9D9D9
}

.selected {
    color: black;
    background-color: #D9D9D9
}

#Login a{
	position: absolute;
	width: 170px;
	height: 50px;
	left: 1120px;
	top: 20px;
	background: #006404;
	border-radius: 50px;
	text-decoration: none;

	/*texto no login*/
	text-align: center;
	line-height: 40px;
	font-family: 'Fira Code', monospace;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 42px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Login a:hover{
	background: #27c42c;
	font-weight: bolder;
}

#corpo{
	box-sizing: border-box;
	position: static;
	width: 1238px;
	margin: 0 auto;
	background: #FFFFFF;
	border: 31px solid #D9D9D9;
}

#img-container {
	display: block;
	text-align: center;
	position: relative;
}

#img-container .fundo{
	margin-top: 55px;
	max-height: 640px;
}

#img-container figcaption .titulo {
	position: absolute;
	width: 509px;
	height: 70px;
	left: 600px;
	top: 280px;

	font-family: 'Fira Code', monospace;
	font-style: normal;
	font-weight: 300;
	font-size: 53px;
	line-height: 70px;
	color: #00B907;
}

#img-container figcaption .texto {
	position: absolute;
	width: 300px;
	height: 70px;
	left: 700px;
	top: 350px;
	text-align: justify;

	font-family: 'Fira Code', monospace;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: black;
}

#texto-corpo {
	display: block;
	text-align: center;
	position: relative;
	padding: 50px;
}

#texto-corpo h1 {
	font-family: 'Fira Code', monospace;
}

#texto-corpo .marked {
	color: #00B907;
}

#texto-corpo .descricao {
	text-align: justify;
	font-style: normal;
	font-size: 20px;
	line-height: 26px;
	color: black;
}

#texto-corpo-dif {
	background-color: #00B907;
	display: block;
	text-align: center;
	position: relative;
	padding: 50px;
}

#texto-corpo-dif p{
	color: white;
	font-family: 'Fira Code', monospace;
}

#button{
	display: block;
	text-align: center;
	position: relative;
	padding: 20px;
}

#button a{
	position: relative;
	background: #006404;
	padding: 20px;
	border-radius: 50px;
	
	/*texto no login*/
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	font-family: 'Fira Code', monospace;
	font-style: normal;
	font-weight: bold;
	
	font-size: 25px;
	line-height: 42px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#button a:hover{
	background: #27c42c;
	font-weight: bolder;
}
