.logo{
	width: 384px;
	height: 52px;
	left: 10px;
	top: 14px;
	padding-left: 30px;

	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 52px;
	color: #00B907;
}


body{
	padding: 15px;
	width: 100%;
	height: 100%;
	margin: 0;
	background: url(../Py/pexels-markus-spiske-1089438.jpg) repeat ;
}

#conteiner{
	width: 1050px;
	margin: 0 auto;
}

#topo-menu{
	margin-top: 30px;
	background: rgb(209, 202, 202);
	float: left;
}
#topo-menu li{
	float: left;
}
#topo-menu ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	
}
#topo-menu ul a:hover{
	color: rgb(255, 0, 0);
}

#Login{
	/* identical to box height */
	position: fixed;
	width: 170px;
	height: 50px;
	left: 1169px;
	top: 20px;
	background: #006404;
	border-radius: 50px;
	
}
#Login a{
	text-decoration: none;
	/*texto no login*/
	text-align: center;
	line-height: 40px;
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 500px;
	padding-left: 40px;
	font-size: 32px;
	line-height: 42px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}